

html, .chakra-ui-dark, #__next {
  min-height: 100vh;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.portfolio-img {
  max-width: 250px;
}

.post-card {
  transition: .5s ease;
}

.post-card:hover {
  transform: scale(1.05);
}

.port-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    transition: .5s ease;
    background-color: rgba(231, 231, 231, 0);
  }

  .input-overlay {
    position: absolute;
    top: 60%;
    left: -1.9rem;
    height: 3rem;
    width: 18rem;
    opacity: .8;
    transition: .5s ease;
    background-color: rgba(231, 231, 231, 0);
  }
  
  .port-cont-hov:hover .port-img-overlay {
    opacity: 1;
    background-color: rgba(255, 71, 230, 0.418);
  }
  
  .port-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #port-text-input {
    width: 10rem;
    top: 70%;
  }

.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.scale-anm {
  transform: scale(1);
}

.play-pause-icon {
  transition: all 250ms ease;
}

.play-pause-icon:hover {
  transform: scale(1.25);
}

.animate {
  background-color:"pink";
}

input#file {
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #858585;
  border-radius: 10px;
  background-size: 50px 50px;
}

input.audio-file {
  background: url('https://cdn2.iconfinder.com/data/icons/frosted-glass/512/Volume.png') center center no-repeat #000000;
  height: 50px;
  padding: 80px 0 0 0;
  width: 20rem;
}

input.image-file {
  background: url('https://cdn2.iconfinder.com/data/icons/frosted-glass/512/Gallery.png') center center no-repeat #000000;
  height: 100px;
  padding: 238px 0 0 0;
  width: 14rem;
  margin-top: 0px;
}

.glowing-text {
  transition: all 350ms ease;
}

.glowing-text:hover {
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.521), 0 0 10px rgba(255, 255, 255, 0.541), 0 0 30px #ffc3f593, 0 0 40px #ffc3f5c7, 0 0 30px #fbb6ce, 0 0 30px #ffc3f5c7, 0 0 30px #fbb6cea8;
  display: inline-block;
}

.rounded-left { 
  background-color: #D53F8C;
  width:100%;
  height: 100%;
}

.progress-bar {
  width: 100%; 
  height: 5px;
  background-color: white;
}

.field {
  background-color: black;
  border-radius: 5px;
  border: 1px solid pink;
  padding-left: 1rem;
  width: 100%;
  text-align: left;
  text-justify: newspaper;
}

#title-field {
  height: 2rem;
}


::placeholder {
  color: white;
  font-size: 1em;
  letter-spacing: .2rem;
}

.on-error {
  height:60px;
  width: 60px;
  border-radius: "2rem";
  object-fit:"cover";
}

@media (max-width: 400px) { 
  input.audio-file {
    padding: 4rem 0 0 0 ;
    width: 12rem;
  }
  
 }